.one{
    background: radial-gradient(1000px at top left , rgb(255, 255, 255), rgb(255, 170, 170));
}
.nav{

    overflow: hidden;
}
.nav a{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}
.nav a:hover{
    background-color: rgb(65, 21, 21);
    
    color: rgb(255, 255, 255);
    text-align: center;
}
.nav a.active{
    
    color: rgb(255, 153, 0);
}
.nav a{
    float: none;
    position: relative;
    top: 30%;
    left: 30%;
    
    
}